.jobDescModel{
    border-radius: 30px;
    max-width : 60%;
    margin: 30px;
    display : flex;
    flex-direction: column;
    padding : 20px;
    align-items: flex-start;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    z-index: 15;
}